<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.linfeng.plan.mapper.PlanWeeksMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.github.linfeng.plan.entity.PlanWeeks">
        <id column="week_id" property="weekId"/>
        <result column="user_id" property="userId"/>
        <result column="title" property="title"/>
        <result column="remarks" property="remarks"/>
        <result column="begin_date" property="beginDate"/>
        <result column="end_date" property="endDate"/>
        <result column="create_date" property="createDate"/>
        <result column="summary" property="summary"/>
        <result column="summary_date" property="summaryDate"/>
        <result column="status" property="status"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        week_id, user_id, title, remarks, begin_date, end_date, create_date, summary, summary_date, status
    </sql>
    <insert id="add" parameterType="com.github.linfeng.plan.entity.PlanWeeks">
        insert into spwx_plan_weeks (user_id, title, begin_date, end_date, create_date, remarks, status)
        values (#{week.userId}, #{week.title}, #{week.beginDate}, #{week.endDate}, #{week.createDate}, #{week.remarks}, #{week.status});
    </insert>
    <update id="update" parameterType="map">
        UPDATE spwx_plan_weeks
        SET title=#{week.title},
            begin_date=#{week.beginDate},
            end_date=#{week.endDate},
            remarks=#{week.remarks},
            status=#{week.status}
        WHERE week_id = #{id} AND user_id = #{week.userId}
    </update>
    <update id="updateSummary" parameterType="map">
        UPDATE spwx_plan_weeks
        SET summary=#{summary},
            summary_date=#{summaryDate}
        WHERE week_id = #{id}
    </update>
    <select id="listByUserId" resultMap="BaseResultMap" resultType="com.github.linfeng.plan.entity.PlanWeeks">
        select *
        from spwx_plan_weeks
        where user_id = #{userId}
        order by begin_date desc, week_id desc;
    </select>
    <select id="listByUserIdAndStatus" resultMap="BaseResultMap" resultType="com.github.linfeng.plan.entity.PlanWeeks">
        select *
        from spwx_plan_weeks
        where user_id = #{userId}
        <if test="status != null">
            and status = #{status}
        </if>
        order by begin_date desc, week_id desc;
    </select>
    <select id="getByIdAndUserId" resultMap="BaseResultMap" resultType="com.github.linfeng.plan.entity.PlanWeeks">
        select *
        from spwx_plan_weeks
        where week_id = #{id} and user_id = #{userId};
    </select>
    <delete id="deleteByIdAndUserId">
        delete from spwx_plan_weeks where week_id = #{id} and user_id = #{userId}
    </delete>
    <select id="list" resultMap="BaseResultMap" resultType="com.github.linfeng.plan.entity.PlanWeeks">
        select *
        from spwx_plan_weeks
        order by begin_date desc, week_id desc;
    </select>
    <select id="getById" resultMap="BaseResultMap" resultType="com.github.linfeng.plan.entity.PlanWeeks">
        select *
        from spwx_plan_weeks
        where week_id = #{id};
    </select>
    <select id="listByTitle" resultMap="BaseResultMap" resultType="com.github.linfeng.plan.entity.PlanWeeks">
        select *
        from spwx_plan_weeks
        where title LIKE concat('%', #{searchText}, '%')
        order by begin_date desc, week_id desc;
    </select>
  <select id="count" resultType="java.lang.Integer">
      SELECT COUNT(*) cnt FROM spwx_plan_weeks;
  </select>

</mapper>
