<#include "/plan/layout/layout_default.html">

<#macro container>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>周计划工作内容</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">首页</a></li>
                        <li class="breadcrumb-item active">周计划工作内容</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">周计划工作内容</h3>

                            <div class="card-tools">
                                <form method="post">
                                <div class="input-group input-group-sm" style="width: 500px;">
                                    <a href="add" class="btn-sm btn-primary" style="margin-left: 20px; margin-right: 20px;">添加</a>
                                    <select class="form-control" name="searchWeekId" id="itemWeekId">
                                        <option value="">全部</option>
                                        <#list weeks as week>
                                        <#if searchWeekId==week.weekId>
                                        <option value="${week.weekId}" selected>${week.title}</option>
                                        <#else>
                                        <option value="${week.weekId}">${week.title}</option>
                                        </#if>
                                        </#list>
                                    </select>
                                    <input type="text" name="searchText" class="form-control float-right" placeholder="搜索">

                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                                    </div>
                                </div>
                                </form>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover text-nowrap">
                                <thead>
                                <tr class="text-center">
                                    <th>编号</th>
                                    <th>名称</th>
                                    <th>开始日期</th>
                                    <th>截止日期</th>
                                    <th>整体完成</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <#if items??>
                                <#list items as planItems>
                                <#assign typeKey = "k_${planItems.jobType}">
                                <tr>
                                    <td>${types[typeKey]}:${planItems.jobNum}</td>
                                    <td>${planItems.title}</td>
                                    <td class="text-center text-uppercase">${planItems.beginDate?number_to_date}</td>
                                    <td class="text-center">${planItems.endDate?number_to_date}</td>
                                    <td class="text-center"><#if planItems.jobFinishDate gt 0>${planItems.jobFinishDate?number_to_date}<#else>-</#if></td>
                                    <td>
                                        <a href="?searchWeekId=${planItems.weekId}" class="btn-sm btn-primary">本周计划</a>
                                        <a href="sr?weekid=${planItems.weekId}" class="btn-sm btn-primary">本周总结</a>
                                        <a href="#${planItems.weekId}" class="btn-sm btn-primary">汇总</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="5">工作内容:${planItems.content}</td>
                                    <td><#list weeks as week><#if week.weekId==planItems.weekId><label class="btn btn-block btn-outline-info">${week.title}</label></#if></#list></td>
                                </tr>
                                <tr>
                                    <td colspan="5">${planItems.remarks}</td>
                                    <td>最后修改时间: ${planItems.editDate?number_to_date}</td>
                                </tr>
                                </#list>
                                <#else>
                                <tr>
                                    <td colspan="6">没有记录.</td>
                                </tr>
                                </#if>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
</#macro>

<#macro footer_js>
</#macro>
