<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.github.linfeng.**"/>

    <context:property-placeholder file-encoding="UTF-8" location="classpath:/config/sys.properties" order="1"/>

    <context:property-placeholder properties-ref="yamlProperties" order="2" file-encoding="UTF-8"/>
    <bean id="yamlProperties" class="org.springframework.beans.factory.config.YamlPropertiesFactoryBean">
        <property name="resources" value="classpath:/config/sys.yaml"/>
    </bean>

    <bean class="com.github.linfeng.app.model.YamlDemo">
        <property name="name" value="${db.name}"/>
        <property name="username" value="${databases.username}"/>
    </bean>
</beans>
