<!DOCTYPE html>
<html lang="zh">
<head>
    <title>测试首页</title>
    <link rel="stylesheet" type="text/css" href="${request.getContextPath()}/statics/css/test.css"/>
</head>
<body>
<p>Spring MVC 基于 XML配置成功！</p>
<p>${name}</p>
<ul>
    <#if users ??>
    <#list users as user>
    <li>id:${user.uid!'-'}</li>
    <li>name:${user.userName!'-'}</li>
    <li>nick:${user.nickName!'-'}</li>
    <li>phone:${user.phone!'-'}</li>
    <li>------------------------------</li>
    </#list>
    </#if>
</ul>
</body>
</html>
