<#include "/plan/layout/layout_default.html">

<#macro container>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>添加用户</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">首页</a></li>
              <li class="breadcrumb-item active">添加用户</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">添加用户</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" class="from-ajax" method="post" action="doAdd">
                <div class="card-body">
                    <div class="row">
                        <div class="col-3">
                            <div class="form-group">
                                <label for="username">登录名</label>
                                <input type="text" class="form-control" name="username" id="username" required>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label for="name">姓名</label>
                                <input type="text" class="form-control" name="name" id="name" required>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label for="name">状态</label>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="locked" name="locked" value="1" checked>
                                    <label class="form-check-label" for="locked">锁定</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <div class="form-group">
                                <label for="password">密码</label>
                                <input type="text" class="form-control" name="password" id="password" required>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label for="rePassword">重复密码</label>
                                <input type="text" class="form-control" name="rePassword" id="rePassword" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label>备注</label>
                                <textarea class="form-control" rows="3" name="remarks" placeholder="备注"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                          <div class="form-group">
                            <label>添加时间:</label>
                          </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">提交</button>
                    <a href="list" class="btn btn-primary">列表</a>
                </div>
              </form>
            </div>
            <!-- /.card -->
          </div>
          <!--/.col (left) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
</#macro>

<#macro footer_js>
<script>
    $('.from-ajax').submit(function(e){
        e.preventDefault();
        $.ajax({
            url:$(this).attr('action'),
            type:'post',
            data:$(this).serialize(),
            success:function(data){
                $('#myModalMessageTitle').text("操作提示");
                if (data.status=="200"){
                    $('.modal-body-content').text("保存成功");
                }else{
                    $('.modal-body-content').text("保存失败。错误编码："+data.code);
                }
                console.log(data);
                $('#myModalMessage').modal('show');
            }
        });
    });
</script>
</#macro>
