<#include "/plan/layout/layout_default.html">

<#macro container>


<!-- Modal -->
<div class="modal" data-backdrop="static" id="myModalDialog" tabindex="-1" aria-labelledby="myModalDialogTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <form role="form" class="from-ajax" method="post" action="">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalDialogTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div><textarea class="summary-content" name="summary" cols="106" rows="10"></textarea> </div>
            </div>
            <div class="modal-footer">
                <span class="tip-msg">...</span>
                <button type="submit" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="submit" class="btn btn-primary">确定</button>
            </div>
            </form>
        </div>
    </div>
</div>


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>工作周计划</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">首页</a></li>
                        <li class="breadcrumb-item active">周计划汇总</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">工作周计划</h3>

                            <div class="card-tools">
                                <form method="post">
                                <div class="input-group input-group-sm" style="width: 350px;">
                                    <a href="add" class="btn-sm btn-primary" style="margin-right: 20px;">添加</a>
                                    <input type="text" name="table_search" class="form-control float-right"
                                           placeholder="搜索">

                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                                    </div>
                                </div>
                                </form>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover text-nowrap">
                                <thead>
                                <tr>
                                    <th>编号</th>
                                    <th>名称</th>
                                    <th>开始日期</th>
                                    <th>截止日期</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <#if weeks??>
                                <#list weeks as weekPlan>
                                <tr>
                                    <td>${weekPlan.weekId}</td>
                                    <td>${weekPlan.title}</td>
                                    <td>${weekPlan.beginDate?number_to_date}</td>
                                    <td>
                                        <span class="tag tag-success">${weekPlan.endDate?number_to_date}</span>
                                    </td>
                                    <td>
                                        <a href="${request.getContextPath()}/plan/items/list?searchWeekId=${weekPlan.weekId}" class="btn-sm btn-primary">计划</a>
                                        <a href="#" data-id="${weekPlan.weekId}" data-url="${request.getContextPath()}/plan/weeks/summary/${weekPlan.weekId}" class="btn-sm btn-primary ajax-edit">总结</a>
                                        <a href="#${weekPlan.weekId}" class="btn-sm btn-primary">汇总</a>
                                        <a href="edit/${weekPlan.weekId}" class="btn-sm btn-primary">编辑</a>
                                    </td>
                                </tr>
                                </#list>
                                <#else>
                                <tr>
                                    <td colspan="5">没有记录.</td>
                                </tr>
                                </#if>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
</#macro>

<#macro footer_js>
<script>
    $('.ajax-edit').click(function(e){
        e.preventDefault();
        var url = $(this).data("url")
        var id = $(this).data("id")
        $('#myModalDialog .from-ajax').attr('action',url);
        $.ajax({
            url:url,
            type:'get',
            success:function(data){
                $('#myModalDialogTitle').text("总结"+id);
                $('.summary-content').val("");
                if (data.status=="200"){
                    $('#myModalDialogTitle').text(data.data.title+" - 总结");
                    $('.summary-content').val(data.data.summary);
                    $('#myModalDialog').modal('show');
                }else{
                    $('#myModalMessageTitle').text("操作提示");
                    $('.modal-body-content').text("内容失败。错误编码："+data.code);
                    $('#myModalMessage').modal('show');
                }
                console.log(data);
            }
        });
    });

    $('#myModalDialog .from-ajax').submit(function(e){
        e.preventDefault();
        $.ajax({
            url:$(this).attr('action'),
            type:'post',
            data:$(this).serialize(),
            success:function(data){
                $('#myModalDialog .tip-msg').text("");
                if (data.status=="200"){
                    $('#myModalDialog .tip-msg').text("保存成功");
                    $('#myModalMessage').modal('hide');
                }else{
                    $('#myModalDialog .tip-msg').text("保存失败。错误编码："+data.code);
                }
                console.log(data);
            }
        });
    });

</script>
</#macro>
