<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.linfeng.plan.mapper.RoleMapper">
    <insert id="createRole" parameterType="com.github.linfeng.plan.entity.Role">
        INSERT INTO `sys_roles`(`role`, `description`, `available`)
        VALUES (#{role.role,jdbcType=VARCHAR}, #{role.description,jdbcType=VARCHAR},
                #{role.available,jdbcType=TINYINT});
    </insert>

    <insert id="correlationPermissions" parameterType="map">
        INSERT INTO `sys_roles_permissions`(role_id, permission_id)VALUES
        <foreach collection="permissionIds" separator="," item="permission_id">
            (#{roleId,jdbcType=BIGINT},#{permission_id,jdbcType=BIGINT})
        </foreach>;
    </insert>
    <update id="update">
        UPDATE `sys_roles`
        SET `role`=#{r.role},
            `description`=#{r.description},
            `available`=#{r.available}
        WHERE `id` = #{id}
    </update>

    <update id="lock">
        UPDATE `sys_roles` SET `available`=0
        WHERE id = #{id};
    </update>

    <update id="unlock">
        UPDATE `sys_roles` SET `available`=1
        WHERE id = #{id};
    </update>

    <delete id="deleteRole" parameterType="long">
        DELETE
        FROM `sys_roles`
        WHERE id = #{roleId};
    </delete>

    <delete id="unCorrelationPermissions" parameterType="map">
        DELETE FROM `sys_roles_permissions` WHERE role_id=#{roleId,jdbcType=BIGINT} AND permission_id IN
        <foreach collection="permissionIds" item="pid" open="(" separator="," close=")">
            #{pid,jdbcType=BIGINT}
        </foreach>
    </delete>
    <select id="list" resultType="com.github.linfeng.plan.entity.Role">
        SELECT *
        FROM `sys_roles`;
    </select>
    <select id="getById" resultType="com.github.linfeng.plan.entity.Role">
        SELECT *
        FROM `sys_roles`
        WHERE id = #{id,jdbcType=BIGINT};
    </select>

</mapper>
